@font-face {
    font-family: 'TS Block Bold';
    src: url('../assets/fonts/TS Block/TS Block Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Helvetica Neue Bold';
    src: url('../assets/fonts/helveticaneue/Helvetica Neu Bold.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'HelveticaNeue';
    src: url('../assets/fonts/helveticaneue/HelveticaNeue.ttf') format('truetype');
  }
  
  @font-face {
    font-family: 'Proxima Nova Bold';
    src: url('../assets/fonts/proxima/Proxima Nova Bold.otf') format('opentype');
  }
  
  @font-face {
    font-family: 'Proxima Nova Alt Regular';
    src: url('../assets/fonts/proxima/Proxima Nova Alt Regular.otf') format('opentype');
  }