body {
    background-image: url('../images/bg.png');
    background-size: contain;
    background-position: center;
  
}
.bg {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/bg.png');
    background-size: contain;
    background-position: center;
    padding: 0px;
}

.bg-dark {
    position: absolute;
    z-index: 2;
    top: 0;
    bottom: 0;
    left: 30px;
    right: 0;
    background-color: #000;
    opacity: .6;
    width: 94.5%;
    height: 45px;
}

.login-header {
    background-color: #171717;
    padding: 20px 0px 20px 15%;
    margin-top: 8%;
}

.login-header-text {
    color: #fff;
    font-size: 36px;
    font-weight: bolder;
    margin: 0px;
    padding: 0px;
    margin-left: 10px;
}

.text-md {
    color: #B68A02;
    font-size: 14px;
    margin-left: 10px;
}

.text-md-wh {
    color: #fff;
    font-size: 16px;
}

.custom-input-box, .custom-input-box::placeholder {
    background-color: #171717;
    color: #FFF;
    border: none;
    margin-bottom:20px;
}

.mg-sx {
    margin-left: 15%;
}

.px-3 {
    margin-bottom: 30px;
}

.px-lg {
    margin-top: 100px;
}

.text-sm {
    color: #B68A02;
    font-size: 14px;
}

.text-sm-wh {
    color: #fff;
    font-size: 12px;
}

.placeicon {
    font-family: fontawesome
}

.custom-control-label::before {
    background-color: #dee2e6;
    border: #dee2e6
}

.btn-redeem {
    background-color: #1E1E1E;
    border-radius: 20px;
    padding: 10px 50px;
    color: #fff;
    margin-top: 50px;
}


.btn-group button {
    background-color: transparent;
    border: 0px solid green; /* Green border */
    color: white; /* White text */
    padding: 10px 24px; /* Some padding */
    cursor: pointer; /* Pointer/hand icon */
    width: 17.7%;
}

/* Clear floats (clearfix hack) */
.btn-group:after {
    content: "";
    clear: both;
    display: table;
}

.btn-group button:not(:last-child) {
    border-right: none; /* Prevent double borders */
}

/* Add a background color on hover */
.btn-group button:hover {
    background-color: #bbb;
}

.btn-group {
    width: 100%;
    margin: 0 auto;
    opacity: .9;
    padding-bottom: 20px;
    width: 96%;
    margin: 0 auto;
    text-align: center;
}

.btnh {
    color: white;
    opacity: .9;
    font-size: 14px;
    padding-top: 35px;
    padding-bottom: 30px;
    width: 96%;
    margin: 0 auto;
}

.left-panel {
    background-color: #B68A02;
    height: 100%;
    min-height: 970px;
    flex-grow: 4; /* default 0 */
}

img.eanredeem {
    display: inline-block;
    margin-top: 5px;
    padding-left: 12px;
    width: 50%;
}

.carousel-inner > .item > a > img, .carousel-inner > .item > img, .img-responsive, .thumbnail a > img, .thumbnail > img {
    display: inline-block;
}

@media (max-width: 1024px) {
    .container {
        margin-top: 0px;
        padding-left: 0px;
        max-width: 100%;
    }

    img {
        max-width: 80%;
    }
}

.row {
    position: relative;
}


/* Smartphones (portrait) ----------- */
@media (max-width : 550px) {
    .left-panel {
        display: none;
    }

    .right-panel {
        width: 100% !important;
    }

    .text-md-wh {
        font-size: 14px;
    }

    .text-md {
        font-size: 12px;
    }
    .btn-group button {
        padding: 10px 10px; /* Some padding */
        width: 50px;
    }
}
@media only screen and (min-device-width: 550px) and (max-device-width: 684px) {
    .login-header-text {
        font-size: 30px;
    }
    .text-md {
        font-size: 12px;
    }
    .login-img {
        width: 32px;
        margin-top: 10px;
    }
}

@media (max-width : 1024px) {
.login-header {
    padding-left: 5%;
}

.mg-sx {
    margin-left: 8%;
}
    .btn-group button {
        padding: 10px 10px;
    }
    body {
      
        background-size: cover;
        
    }
}
@media (max-width : 400px) {
    .ph-400-f{ width:100%;}
    .ph-400-h {
        width: 49%;
    }
   
}
